
@{
    ViewBag.Title = "Work1";
}
@using Grocery.Security

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Work 1</title>
</head>
<body>
    <div>
        Work 1
        <br/>
        Welcome @SessionPersister.UserName
        <br />
        <a href="@Url.Action("LogOut", "Account")">Logout</a>
    </div>
</body>
</html>
